<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://www.crushpixel.com/big-static18/preview4/corkscrew-with-corks-2864635.jpg);">
  <div class="container">
    <h1>Maison <strong>château Laguiole</strong></h1>
    <p>Des tire-bouchons sur-mesure pour les plus grands vins</p>
    <a class="btn btn-dark" href="#">Découvrir</a>
  </div>
</div>
 <!-- brand selector -->
<div class="title-line"><h3>Nos Marques</h3></div>

<div class="brand">
  <%= link_to chateau_path do %>
    <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/chat-lag.png')">
      Château Laguiole
    </div>
  <% end %>
  <a href="">
    <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/ligne-w.png')">
      Ligne | W
    </div>
  </a>
  <a href="">
    <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/mateo.png')">
      Mateo Gallud
    </div>
  </a>
  <a href="">
    <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/guy.png')">
      Guy Vialis
    </div>
  </a>
</div>

<div class="mt-5 mb-5 container edito">
  <div class="title-line"><h3>Edito</h3></div>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
      optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
      obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
      nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
      tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
      quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
      sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
      recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
      minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit
      quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
      fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
      consequuntur! Commodi minima excepturi repudiandae velit hic maxime
  </p>
  <button type="button" class="btn btn-light">Lire la suite ⬇️</button>
</div>

<div class="mt-5 mb-5 container">
  <div class="title-line"><h3>Actualité</h3></div>

</div>
