<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://www.crushpixel.com/big-static18/preview4/corkscrew-with-corks-2864635.jpg);">
  <div class="container">
    <h1>Maison <strong>château Laguiole</strong></h1>
    <p>Des tire-bouchons sur-mesure pour les plus grands vins</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
 <!-- brand selector -->
<div class="brand">
  <div class="rounded float-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
  <div class="card-brand" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>
</div>
